
@{
    ViewBag.Title = "AktifDegil";
}

<link href="~/Content/_LoginRegister.css" rel="stylesheet" />
<section class="login-info">
    <div class="container">
        <div class="row main">
            <div class="form-header">
                <h1 class="text-center "><span class="glyphicon glyphicon-remove-sign"></span> Kullanıcı Aktif Değil </h1>
            </div>
            <div class="main-content">
                <div class="text-info">
                    <h2 class="text-center">&nbsp;&nbsp;&nbsp;Yönlendiriliyorsunuz.</h2>
                    <br />
                    <h2 class="text-center"><span class="glyphicon glyphicon-remove-sign"></span> Lütfen Daha Sonra Giriş Yapınız...</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    $(function ()
    {
        $("#footer,#footer1").hide();

        setTimeout(function () {
            window.location = "/Home/Index";
        }, 6000);
    })
</script>


